body {
  font-family: Arial;
  background:#0f172a;
  color:white;
  margin:0;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-card{
  background:#1e293b;
  padding:30px;
  width:320px;
  text-align:center;
  border-radius:20px;
}

.section {
  background:#1e293b;
  padding:20px;
  margin:20px auto;
  border-radius:16px;
  max-width:600px;
}

input,select,button{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:10px;
  border:none;
}

button{
  background:#3b82f6;
  color:white;
  cursor:pointer;
}

ul{padding:0;list-style:none}

li{
  display:flex;
  justify-content:space-between;
  background:#334155;
  padding:10px;
  margin:6px 0;
  border-radius:10px;
}

.btn-del{background:#ef4444}

.result{
  text-align:center;
  font-size:18px;
  margin-top:10px;
}
