* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 380px;
  padding: 15px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* ปุ่มเมนู */
nav {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

nav button {
  flex: 1;
}

/* Section ทุกหน้า */
.section {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* ช่องกรอก */
input,
select,
button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* input ไม่ให้ยาวล้น */
input,
select {
  max-width: 100%;
}

/* ปุ่ม */
button {
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #1d4ed8;
}

/* รายการ */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin-top: 8px;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.income {
  border-left: 5px solid #22c55e;
}

li.expense {
  border-left: 5px solid #ef4444;
}

.btn-del {
  background: #ef4444;
  padding: 5px 10px;
}

/* ผลลัพธ์ */
.result {
  margin-top: 10px;
  font-weight: bold;
}

/* canvas */
canvas {
  max-width: 100%;
}
